extends layouts/layout

block content
  h1 Gestion des Catways

  table
    thead
      tr
        th Numéro
        th Type
        th État
    tbody
      each catway in catways
        tr
          td= catway.catwayNumber
          td= catway.type
          td= catway.catwayState

  a(href='/dashboard') Retour au tableau de bord
